@require "style"

$formRadius = 15px

form
  font-family: 'GothamBold'
  @media screen and (max-width: 600px)
    margin-top: 1%
  @media screen and (min-width: 601px), (max-width: 1100px)
    margin-top: 0.5%
  @media screen and (min-width: 1101px)
    margin-top: 0
  padding-bottom: 10%
  text-align center

form h1
  text-transform: uppercase
  font-size: 1.5em
  color: $inactiveColor
  text-align: left

.pt-box
  margin: 5% auto
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  width: 95%
  @media all and (min-width: 770px)
      width: 60%
.pic-box
  display: inline-block
  position: relative
  width: 25%
  text-align: left

#profileImg
  position: relative
  z-index: 20
  vertical-align: middle
  padding: 12.5%
  @media all and (max-width: 375px)
    height 70%
    width 70%
  @media all and (min-width: 375px) and (max-width: 500px)
    height 75%
    width 75%
  @media all and (min-width: 500px) and (max-width: 550px)
    height 72.5%
    width 72.5%
  @media all and (min-width: 550px) and (max-width: 700px)
    height 70%
    width 70%
  @media screen and (max-width: 900px) and (min-width: 700px)
    height: 75%
    width: 75%
  @media screen and (min-width: 900px)
    height: 80%
    width: 80%

#upIcon
  position: absolute
  z-index: 1000
  bottom: 10%
  @media all and (max-width: 375px)
    width: 25%
    right: 12%
  @media all and (min-width: 375px) and (max-width: 500px)
    width: 27.5%
    right: 6%
  @media all and (min-width: 500px) and (max-width: 550px)
    width: 27%
    right: 8%
  @media all and (min-width: 550px) and (max-width: 700px)
    width: 25%
    right: 12%
  @media all and (min-width: 700px) and (max-width: 900px)
    width: 25%
    right: 7%
  @media all and (min-width: 900px)
    width: 28%
    right: 3%
  float: right

.info-box
  display inline-block
  width: 72.5%
  text-align: left
  vertical-align: middle
  padding-left: 2.5%
.name
  display block
  vertical-align: bottom
  width 100%
  height 45%
  color $mainColor
  text-transform: uppercase
  font-size: 4vw
  height: 40%
  padding-top: 1%
  padding-bottom: 1%
  @media screen and (max-width: 770px)
    font-size: 6vw
  
.recovery-box
  padding-top: 1%
  padding-bottom: 1%
  vertical-align: top
  
.percent1
  display: inline-block
  font-family: 'GothamBold'
  color: #1A924C
  font-size: 3.5vw
  width: 15%
  @media screen and (max-width: 770px)
    font-size: 4vw

.recovery
  display: inline-block
  font-family: 'GothamLight'
  color: $inactiveColor
  text-transform: uppercase
  font-size: 2.5vw
  @media screen and (max-width: 770px)
    font-size: 3vw
  @media screen and (min-width: 100px)
    padding-left: 6%
  @media screen and (min-width: 500px)
    padding-left: 7%
  @media screen and (min-width: 770px)
    padding-left: 14%

#applyTemplate
  border-style none
  font-family GothamBold
  font-size 4vw
  text-transform uppercase
  color $white
  background-color $mainColor
  border-radius 20px
  border-color $mainColor
  padding: 1.5% 10%
  display block
  margin 0px auto 

#applyTemplate:hover
  cursor: pointer

.inputs
  margin: 0px auto
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  width: 95%
  @media all and (min-width: 770px)
    width: 60%

.input-box
  padding: 20px
  outline: none
  border: none
  text-align: right
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
    padding: 20px
  @media screen and (min-width: 1700px)
    font-size: 1.5vw
    padding: 25px
    border-bottom: solid 1px $inactiveColor
  	//width: ($formWidth - 40)px

  border-bottom: solid 1px $inactiveColor
  //width: ($formWidth - 40)px

form input::-webkit-input-placeholder
  color: $inactiveColor
  font-style: italic
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1.5vw
form input:focus
  outline: none

.input-top
  border-top-right-radius: $formRadius
  border-top-left-radius: $formRadius
.input-bottom
  border-bottom-right-radius: $formRadius
  border-bottom-left-radius: $formRadius
  border-bottom: none

.repset-name
  font-family: 'GothamBold'
  font-weight: bold
  text-transform: uppercase
  color: $mainColor
  text-align: left
  float: left
  position relative
  text-decoration: none
  width: 40%
  display inline-block

.repset-box
  width: 60%
  display inline-block

.arith-box
  width: 20%
  text-align center
  display inline-block
  color $mainColor
  font-size 6vw
  font-family 'GothamBold'
  border none
  background-color $inactiveColor2

.num-box
  width: 20%
  text-align center
  display inline-block
  color $mainColor
  text-decoration underline
  font-size 6vw
  font-family 'GothamBold'
  
.input-name
  font-family: 'GothamBold'
  font-weight: bold
  text-transform: uppercase
  color: $mainColor
  text-align: left
  float: left
  position relative
  text-decoration: none
.input-name:before
  content: ""
  position: absolute
  width: 100%
  height: 2px
  bottom: 0
  left: 0
  background-color: $mainColor
  visibility: hidden
  -webkit-transform: scaleX(0)
  transform: scaleX(0)
  -webkit-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s

.text-input
  position relative
  width 50%
  text-align right
  //float right
  color $darkgray
  background none
  border none
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1.5vw

.plus-button
  margin: 5% auto
  -webkit-box-shadow: 0px 0px 0px 0px
  -moz-box-shadow: 0px 0px 0px 0px
  box-shadow: 0px 0px 0px 0px
  padding-top: 1.5%
  padding-bottom: 1.5%
  border-color: $inactiveColor
  border-width: 2px
  border-style: dashed
  border-radius: $formRadius
  background-color: $inactiveColor2
  width: 95%
  text-align: center
  @media all and (min-width: 770px)
      width: 60%
.plus-button:hover
  cursor: pointer
.add
  color: $inactiveColor
  font-size 11vw
  font-style bold

a
  text-decoration: none

.text-input:focus + .input-name:before
  visibility: visible
  -webkit-transform: scaleX(1)
  transform: scaleX(1)

.input-name + input
    margin-top 10px
.input-name#notes
    text-align: left
form textarea.text-input
    resize: none
    outline: none
    font-size: 3.5vw
    @media screen and (min-width: 770px)
        font-size: 1.5vw
    @media screen and (min-width: 1700px)
        font-size: 1vw
    width 100%
    text-align left
