@require "style"

$formRadius = 15px
$formWidth = 315

h1,h2,h3,h4,h5,h6
  font-family 'GothamBold',sans-serif
  color $mainColor
button
  outline none
  border none
  padding 5%
  max-width 50%
  background $mainColor
  color white
  text-transform uppercase
  font-family 'GothamBold'
  text-align center
  transition 0.3s
  border-radius $formRadius
button:hover
  opacity 0.8
form
  font-family: 'GothamBold'
  @media screen and (max-width: 600px)
    margin-top: 1%
  @media screen and (min-width: 601px), (max-width: 1100px)
    margin-top: 0.5%
  @media screen and (min-width: 1101px)
    margin-top: 0
  padding-bottom: 10%
form h1
  text-transform: uppercase
  font-size: 1.5em
  color: $inactiveColor
  text-align: left

#loading, #loading1
  font-family 'GothamBold'
  margin 10% auto
  color $mainColor
  font-size 3vw
  text-align center

#loading img
  width 10%
  height 10%

#loading1 img
  width 15%
  height 15%

.pt-box
  margin: 5% auto
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  width: 95%
  @media all and (min-width: 770px)
      width: 60%
.pt-box:hover
  cursor pointer
  background-color #f2f2f2

.pic-box
  display: inline-block
  position: relative
  width: 25%
  text-align: left

.info-box
  display inline-block
  width: 52.5%
  text-align: left
  vertical-align: middle
  padding-left: 2.5%

.name
  display block
  vertical-align: bottom
  width 100%
  height 45%
  color $mainColor
  font-size: 3vw
  height: 40%
  padding-top: 1%
  padding-bottom: 1%
  @media screen and (max-width: 770px)
    font-size: 6vw

.recovery-box
  padding-top: 1%
  padding-bottom: 1%
  vertical-align: top

.percent1
  display: inline-block
  font-family: 'GothamBold'
  color: #1A924C
  font-size: 3vw
  width: 15%
  @media screen and (max-width: 770px)
    font-size: 4vw

.percent2
  display: inline-block
  font-family: 'GothamBold'
  color #801a00
  font-size: 3.5vw
  width: 15%
  @media screen and (max-width: 770px)
    font-size: 4vw
hr
  border-style: dashed
  color: $inactiveColor
#upIcon, #downIcon, #flatIcon
  position: absolute
  z-index: 1000
  bottom: 10%
  @media all and (max-width: 375px)
    width: 25%
    right: 12%
  @media all and (min-width: 375px) and (max-width: 500px)
    width: 27.5%
    right: 6%
  @media all and (min-width: 500px) and (max-width: 550px)
    width: 27%
    right: 8%
  @media all and (min-width: 550px) and (max-width: 700px)
    width: 25%
    right: 12%
  @media all and (min-width: 700px) and (max-width: 900px)
    width: 25%
    right: 7%
  @media all and (min-width: 900px)
    width: 28%
    right: 3%
  float: right

#profileImg
  position: relative
  z-index: 20
  vertical-align: middle
  padding: 12.5%
  @media all and (max-width: 375px)
    height 70%
    width 70%
  @media all and (min-width: 375px) and (max-width: 500px)
    height 75%
    width 75%
  @media all and (min-width: 500px) and (max-width: 550px)
    height 72.5%
    width 72.5%
  @media all and (min-width: 550px) and (max-width: 700px)
    height 70%
    width 70%
  @media screen and (max-width: 900px) and (min-width: 700px)
    height: 75%
    width: 75%
  @media screen and (min-width: 900px)
    height: 80%
    width: 80%

.recovery
  display: inline-block
  font-family: 'GothamLight'
  color: $inactiveColor
  text-transform: uppercase
  font-size: 2vw
  padding-left: 20%
  @media screen and (max-width: 770px)
    font-size: 3vw
  @media screen and (max-width: 800px)
    padding-left: 15%

.input-label
  display: inline-block
  font-family: 'GothamBold'
  color $inactiveColor
  text-transform: uppercase
  text-align: left
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  padding-left: 5%
  width: 65%

.exercise-label
  display inline
  font-family: 'GothamBold'
  color $inactiveColor
  text-transform: uppercase
  text-align: left
  padding-right 10%
  font-size: 2.6vw
  @media screen and (min-width: 770px)
    font-size: 1.8vw
  @media screen and (min-width: 1700px)
    font-size: 0.8vw



.input-percent
  display: inline-block
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  color #22B573
  width: 14%
  text-align right

.arrow
  display inline-block
  width 20%
  color: $mainColor
  background-size contain
  background-repeat no-repeat
  font-size: 4vw
  vertical-align: middle
  text-align: center
.arrow:hover
  cursor pointer
.num-box
  display: inline-block
  height: 80%
  width: 30%
  font-weight bold
  font-size 2em
  color white
  text-align center
  margin 0
  padding-top 20%
  top 0
  vertical-align top
.plus-button
  margin: 5% auto
  -webkit-box-shadow: 0px 0px 0px 0px
  -moz-box-shadow: 0px 0px 0px 0px
  box-shadow: 0px 0px 0px 0px
  padding-top: 1.5%
  padding-bottom: 1.5%
  border-color: $inactiveColor
  border-width: 2px
  border-style: dashed
  border-radius: $formRadius
  background-color: $inactiveColor2
  width: 95%
  text-align: center
  @media all and (min-width: 770px)
      width: 60%
.plus-button:hover
  cursor: pointer
.add
  color: $inactiveColor
  font-size 11vw
  font-style bold
a
  text-decoration: none

.patient
  width 95%
  max-width 1080px
  margin 0 auto 1rem auto
  border default-border
  border-radius 5px
  text-align center
.patient-name
  padding-top 1rem
  font-weight bold
  font-size 1.2rem
.space
  padding: 1%
.collapse-inner
  display inline-block
  padding: 0.5%
  width: 100%
.collapse
  display: none
  height: auto !important
  width: 100%
  overflow hidden
.graph-box
  width: 10%
  padding-right: 5%
  display: inline-block
  text-align: right

#graph
  width: 50%
  height: auto
  vertical-align: sub

.inspect1
  width: 100%
  display: block
  color: $white
  text-transform: uppercase
  text-align: center
  padding-top: 2%
  padding-bottom: 2%
  border-bottom-right-radius: $formRadius
  border-bottom-left-radius: $formRadius
  border-bottom: none
  background-color: #22B573
  -webkit-transition: background-color 0.3s
  transition: background-color 0.3s
  font-size: 2.5vw
  &:hover
    background-color: #1A924C
    cursor: pointer

.inspect2
  width: 100%
  display: block
  color: $white
  text-transform: uppercase
  text-align: center
  padding-top: 2%
  padding-bottom: 2%
  border-bottom-right-radius: $formRadius
  border-bottom-left-radius: $formRadius
  border-bottom: none
  background-color: #22B573
  -webkit-transition: background-color 0.3s
  transition: background-color 0.3s
  font-size: 2.5vw
  &:hover
    background-color: #1A924C
    cursor: pointer

// ! temporary styling ! only to test.js search function
.search-bar
  text-align: center
  width: 95%
  display: inline-block
  text-align center
  padding-left: 2.5%
  padding-right: 2.5%
  @media screen and (min-width: 770px)
    padding-left: 20%
    padding-right: 20%
    width: 60%
  @media screen and (min-width: 1700px)
    padding-left: 12.5px
    padding-right: 12.5px
#searchIcon
  width: 10%
  display: inline-block
  vertical-align: bottom
  padding: 0
#health
  width: 8%
  display: inline-block
  vertical-align: middle
  padding-left: 2%
  filter grayscale(100%)
  &:hover
    cursor pointer
    filter grayscale(0%)
#alphaOrder
  width: 9%
  vertical-align: middle
  padding-right: 2%
  padding-left: 4%
  filter grayscale(100%)
  &:hover
    cursor pointer
    filter grayscale(0%)
.search-bar > input, .search-bar > #searchIcon
  font-family: 'GothamLight'
  border none
  outline none
  background: transparent
  border-bottom: 3px solid $mainColor
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2.5vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
.search-bar > input:focus
  outline none
.search-bar > input
  padding: 2.5%
  vertical-align bottom
  width 65%
  border-top-right-radius 0
  border-bottom-right-radius 0
#buttonLeft
  width: 100%
#testing
  width 20%
  color: $mainColor
  border-top-right-radius $formRadius
  border-bottom-right-radius $formRadius
  background-size contain
  background-repeat no-repeat
  margin-left 88%
  margin-top -12%
  padding-bottom 13%
  font-size: 4vw
#testing:hover
  cursor pointer
.ex
  padding 20px
  width calc(95% - 40px)
  @media all and (min-width: 770px)
      width calc(60% - 40px)
.ex-info
  position relative
  display inline-block
  width 90%
  height 100%
  float left
.ex-info div
  display inline-block
  width 100%
  height 50%
  text-align left
.ex-info-name span
  font-family 'GothamBold', sans-serif
  color $mainColor
  text-transform uppercase
  vertical-align bottom
.ex-info-details span
  font-family 'GothamLight', sans-serif
  font-style italic
  color $inactiveColor
  vertical-align top
.ex-complete
  position relative
  display inline-block
  width 9%
  height 100%
.ex-complete img
  width 100%
  filter grayscale(100%)
.modal
  display none
  position absolute
  background white
  padding 5%
  top 50%
  left 50%
  transform translate(-50%,-50%)
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  width: 85%
  text-align center
  @media all and (min-width: 770px)
      width: 50%
.modal input[type='range']
  width 100%

.modal input[type=range]{
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
}

.modal input[type=range]:focus {
  outline: none;
}

.modal input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    width: 90%;
    background: rgba(78,78,76,0.2);
    cursor: pointer;
}
.modal input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    background-color: $inactiveColor;
    border: 3px solid $mainColor;
    margin-top: -9px;
    border-radius: 50%;
    transition: .1s ease-in-out;
}

.modal input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1);
}

.modal input[type=range]:focus::-webkit-slider-runnable-track {
  background: $inactiveColor;
}

/**MOZ**/

.modal input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    background-color: $inactiveColor;
    border: 3px solid $mainColor;
    margin-top: -9px;
    border-radius: 50%;
    transition: .1s ease-in-out;
}
.modal input[type=range]::-moz-range-track {
    height: 5px;
    width: 100%;
    background: $inactiveColor;
    cursor: pointer;
}
.modal input[type=range]::-moz-focus-outer {
  border: 0;
}
/**IE**/

.modal input[type=range]::-ms-thumb {
    background-color: $inactiveColor;
    border: 2px solid $mainColor;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    transition: .1s ease-in-out;
    margin-top: 1px;
}
.modal input[type=range]::-ms-track {
    height: 5px;
    width: 100%;
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
}
.modal input[type=range]::-ms-fill-lower {
    background: $inactiveColor;
}
.modal input[type=range]:focus::-ms-fill-lower {
    background: $inactiveColor;
}
.modal input[type=range]::-ms-fill-upper {
    background: $inactiveColor;
}
.modal input[type=range]:focus::-ms-fill-upper {
    background: $inactiveColor;
}

.empty-error
  text-align center
  color $mainColor
  margin-top 5%

#notesSuccess
  color #22b573
  margin-bottom 10px
  font-family 'GothamBold'