@require "style"

$formRadius = 15px
$formWidth = 315

form
  font-family: 'GothamBold'
  @media screen and (max-width: 600px)
    margin-top: 25%
  @media screen and (min-width: 601px), (max-width: 1100px)
    margin-top: 10%
  @media screen and (min-width: 1101px)
    margin-top: 0
  padding-bottom: 10%
form h1
  text-transform: uppercase
  font-size: 1.5em
  color: $inactiveColor
  text-align: left

.pt-box
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  background-color $white
  @media screen and (min-width: 300px)
    width: 70%
  @media screen and (min-width: 400px)
    width: 65%
  @media screen and (min-width: 770px)
    width: 60%
  @media screen and (min-width: 1700px)
    width: 30%
  @media screen and (min-width: 2000px)
    width: 15%
  margin 5% auto
.pic-box
  display: inline-block
  width: 25%
  text-align: left
  padding-left: 5%
  padding-top: 5%
.info-box
  display inline-block
  width: 60%
  text-align: left
.name
  display block
  width 100%
  height 50%
  color $mainColor
  text-transform: uppercase
  @media screen and (min-width: 100px)
    font-size: 0.8em
  @media screen and (min-width: 300px)
    font-size: 1em
  @media screen and (min-width: 400px)
    font-size: 1.5em
  @media screen and (min-width: 770px)
    font-size: 2em
  @media screen and (min-width: 1700px)
    font-size: 3em
  @media screen and (min-width: 2000px)
    font-size: 3.5em

.recovery-box
  height: 50%
  vertical-align: bottom
.percent
  display: inline-block
  vertical-align: bottom
  font-family: 'GothamBold'
  color: #1A924C
  @media screen and (min-width: 300px)
    width: 0.5vw
  @media screen and (min-width: 500px)
    width: 1.3vw
  @media screen and (min-width: 770px)
    font-size: 2.3vw
  @media screen and (min-width: 1700px)
    font-size: 3.3vw
  width: 15%
.recovery
  display: inline-block
  font-family: 'GothamLight'
  color: $inactiveColor
  text-transform: uppercase
  @media screen and (min-width: 100px)
    font-size: 0.3em
    padding-left: 10%
  @media screen and (min-width: 300px)
    font-size: 0.4em
    padding-left: 25%
  @media screen and (min-width: 500px)
    font-size: 0.7em
    padding-left: 18%
  @media screen and (min-width: 770px)
    font-size: 1em
    padding-left: 15%
  @media screen and (min-width: 1700px)
    font-size: 2em
  @media screen and (min-width: 2000px)
    font-size: 2.5em
.input-label
  display: table-cell
  height 50%
  font-family: 'GothamBold'
  color $inactiveColor
  text-transform: uppercase
  text-align: left
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  padding-left: 15px
  width: 90%
.input-percent1
  display: table-cell
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  color #22B573
  width: 6%
  padding-right: 4%
.input-percent2
  display: table-cell
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  color #f4b342
  width: 6%
  padding-right: 4%
.input-percent3
  display: table-cell
  font-size: 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  color #801a00
  width: 6%
  padding-right: 4%
.arrow
  height 25px
  width 25px
  border-top-right-radius $formRadius
  border-bottom-right-radius $formRadius
  // Temporary arrow image
  background-image url("https://img.clipartfest.com/f3d62c07fd977b11e30d39ef28c8f547_-add-an-up-arrow-to-select-simple-down-arrow-clipart_600-600.png")
  background-size contain
  background-repeat no-repeat
  margin-left 90%
  margin-top -50px
  padding-bottom 45px
.arrow:hover
  cursor pointer
.num-box
  display: inline-block
  height: 80%
  width: 30%
  font-weight bold
  font-size 2em
  color white
  text-align center
  margin 0
  padding-top 20%
  top 0
  vertical-align top
.plus-button
  text-align: center
  -webkit-box-shadow: 0px 0px 0px 0px
  -moz-box-shadow: 0px 0px 0px 0px
  box-shadow: 0px 0px 0px 0px
  padding-top: 1.5%
  padding-bottom: 1.5%
  border-color: $inactiveColor
  border-width: 2px
  border-style: dashed
  border-radius: $formRadius
  background-color: $inactiveColor2
  @media screen and (min-width: 300px)
    width: 70%
  @media screen and (min-width: 400px)
    width: 65%
  @media screen and (min-width: 770px)
    width: 60%
  @media screen and (min-width: 1700px)
    width: 30%
  @media screen and (min-width: 2000px)
    width: 15%
  height: 100%
  margin 5% auto
.plus-button:hover
  cursor: pointer
.add
  color: $inactiveColor
  padding 3%
  font-size 4em
  font-style bold
  text-decoration: none

.patient
  width 95%
  max-width 1080px
  margin 0 auto 1rem auto
  border default-border
  border-radius 5px
  text-align center
.patient-name
  padding-top 1rem
  font-weight bold
  font-size 1.2rem

.collapse-inner
  padding-top: 0rem
  padding-bottom: 0.5rem
  padding-left: 0rem
  padding-right: 0rem


.collapse, .collapse1
  display none
  transition height .35s ease-out
  -webkit-transition height .35s ease-out
  -moz-transition height .35s ease-out
  -khtml-transition height .35s ease-out
  overflow hidden
  padding-top: 15px
  padding-bottom: 0rem
  padding-left: 0rem
  padding-right: 0rem

.inspect1
  color: $white
  text-transform: uppercase
  text-align: center
  padding-top: 2%
  padding-bottom: 2%
  border-bottom-right-radius: $formRadius
  border-bottom-left-radius: $formRadius
  border-bottom: none
  background-color: #22B573
  -webkit-transition: background-color 0.3s
  transition: background-color 0.3s
  &:hover
    background-color: #1A924C
    cursor: pointer


.inspect2
  color: $white
  text-transform: uppercase
  padding-top: 2%
  padding-bottom: 2%
  border-bottom-right-radius: $formRadius
  border-bottom-left-radius: $formRadius
  border-bottom: none
  background-color: #b32400
  -webkit-transition: background-color 0.3s
  transition: background-color 0.3s
  &:hover
    background-color: #801a00
    cursor: pointer

// ! temporary styling ! only to test search function
.search-bar
  padding: 15px
  text-align: center
.search-bar > input, .search-bar > button
  font-family: 'GothamLight'
  border none
  outline none
  background: transparent
  border-bottom: 1px solid $mainColor
  font-size: 3vw
  padding: 20px
  @media screen and (min-width: 770px)
    font-size: 2vw
    padding: 20px
  @media screen and (min-width: 1700px)
    font-size: 1vw
    padding: 25px
.search-bar > input:focus
  outline none
.search-bar > input
  width 50%
  border-top-right-radius 0
  border-bottom-right-radius 0
.search-bar > button
  border-top-left-radius 0
  border-bottom-left-radius 0