@require "style"

$formRadius = 15px
$formWidth = 315px

content
  text-align: center
  font-family: 'GothamBold'
  overflow-y auto
  @media screen and (min-width: 400px)
    height 10%
  @media screen and (max-width: 600px)
    margin-top: 25%
  @media screen and (min-width: 601px), (max-width: 1100px)
    margin-top: 10%
  @media screen and (min-width: 1101px)
    margin-top: 0

form h1
  text-transform: uppercase
  font-size: 1.5em
  color: $inactiveColor
  text-align: left

.name
  font-family 'GothamBold'
.outer-info-box
  margin 0px auto
  margin-bottom 120px
  -webkit-box-shadow 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow 0px 0px 25px 0px $inactiveColor;
  border-radius $formRadius
  background-color $white
  width 95%
  height 100vw
  @media all and (min-width: 770px)
    height 75vw
    width 60%

.top-box
  background-color $mainColor
  border-radius $formRadius $formRadius 0px 0px
  color white
  font-size 5vw
  @media screen and (min-width: 770px)
    font-size 3vw
  @media screen and (min-width: 1700px)
    font-size 2vw
  display inline-block
  padding-left 4%
  padding-right 4%
  width 92%
  padding-bottom 1%

.menuInjuryName
    font-family: 'GothamLight'
    color: $inactiveColor
    text-transform: uppercase

#menuButton
  background-color $mainColor
  color $white
  font-family 'sans-serif'
  border none
  width 98%
  text-align right
  font-size 5vw
  max-width none
  @media screen and (min-width: 770px)
    font-size: 3vw

#menuButton:focus
  outline none

.menu-box
  margin 0px auto
  font-family 'GothamBold'
  text-transform uppercase
  box-shadow 0px 0px 25px 0px $inactiveColor
  border-radius $formRadius $formRadius $formRadius $formRadius
  display none
  position absolute
  width: 90%
  text-align: left
  vertical-align: middle
  z-index 1000
  margin: 0% auto
  @media screen and (min-width: 770px)
    margin 0 15%
    width 60%

.menu-top
  font-weight bold
  font-size 5vw
  @media screen and (min-width: 770px)
    font-size: 3vw
  @media screen and (min-width: 1700px)
    font-size: 2vw
  background-color $mainColor
  border-radius $formRadius $formRadius 0 0
  color $white
  display inline-block
  width 100%
  padding-top 1%
  padding-bottom 1%

.exit-sign
  font-family 'Gotham'
  display inline-block
  text-align right
  width 98%

#exitButton
  background-color $mainColor
  color $white
  font-weight bold
  text-transform uppercase
  border none
  height 100%
  width 15%
  font-size 100%

#exitButton:focus
  outline none

.menu-options
  background-color $white
  color $mainColor
  border-radius 0 0 $formRadius $formRadius
  height 120%
  font-size 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw

.option:last-child
  border-radius $formRadius

.menu-icon
  display none
  width 8px
  height 8px
  background $mainColor
  -moz-border-radius 50px
  -webkit-border-radius 50px
  border-radius 50px
  margin-right 3%

#iconOverview
  display inline-block

.option
  padding 2%
  font-size 100%
  text-align center
  height 20%
  background-color $white
  color $mainColor
  border-bottom solid 1px $inactiveColor

.option:hover
  cursor pointer

.option.four
  border-radius 0 0 $formRadius $formRadius

.bottom-box
  height 90%
  width 100%
  border-bottom none

.transition-box
  height 3%
  background-color none
  text-align center
  left 40%
  @media screen and (min-width 650px)
    left 43%
  @media screen and (min-width: 770px)
    left 45%

.icon
  display none
  width 8px
  height 8px
  background $inactiveColor
  -moz-border-radius 50px
  -webkit-border-radius 50px
  border-radius 50px
  margin-right 10px
  margin-bottom 2%

#overviewBox
  display inline-block

.overview-box
  height 95%
  width 95%
  padding-left 2%
  padding-right 2%
  padding-top 4%
  padding-bottom 0%
  position relative


.collapse-inner
  display inline-block
  padding: 0.5%
  width: 100%
  font-family 'GothamBold'

.collapse
  height: auto !important
  width: 100%
  overflow hidden

.graph-symbol
  width: 50%
  height: auto
  vertical-align: sub

.graph-symbol:hover
  cursor pointer

.exercise-set
  display inline-block
  width 90%
  padding 5% 5%
  @media screen and (min-width: 650px)
    height 30%

#exerciseTitle
  display inline-block
  margin-bottom 4%
  font-family 'GothamBold'
  text-transform uppercase
  text-align left
  color $mainColor
  font-size 4vw
  @media screen and (min-width: 770px)
    font-size: 2.8vw
    margin-bottom 6%
  @media screen and (min-width: 1700px)
    font-size: 1.5vw
    margin-top 3%

.exercise-description-label
  padding 1% 0
  -webkit-box-shadow 0px 0px 25px 0px rgba(0,0,0,0.75)
  -moz-box-shadow 0px 0px 25px 0px rgba(0,0,0,0.75)
  box-shadow 0px 0px 25px 0px $inactiveColor
  border-radius $formRadius $formRadius $formRadius $formRadius

#exerciseText
  display inline
  font-family 'GothamBold'
  text-transform uppercase
  text-align left
  color $mainColor
  width 100%
  margin 2% 0%
  padding-right 10px
  font-size 2.8vw
  @media screen and (min-width: 770px)
    margin-top 3%
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 0.8vw

#exerciseTextStreak
  display inline
  font-family 'GothamBold'
  text-transform uppercase
  text-align right
  color $mainColor
  width 100%
  margin 2% 0%
  padding-right 10px
  font-size 2.8vw
  @media screen and (min-width: 770px)
    margin-top 3%
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 0.8vw

#exerciseTextPain
  display inline
  font-family 'GothamBold'
  text-transform uppercase
  text-align right
  color $mainColor
  width 100%
  margin 2% 0%
  font-size 2.8vw
  @media screen and (min-width: 770px)
    margin-top 3%
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 0.8vw

.new-exercise-btn
  font-family: 'GothamBold'
  width 100%
  display: block
  color: $white
  text-transform: uppercase
  text-align: center
  border-radius: $formRadius
  border-bottom: none
  background-color: #22B573
  -webkit-transition: background-color 0.3s
  transition: background-color 0.3s
  -webkit-box-shadow 0px 0px 25px 0px rgba(0,0,0,0.75)
  -moz-box-shadow 0px 0px 25px 0px rgba(0,0,0,0.75)
  box-shadow 0px 0px 25px 0px $inactiveColor
  font-size 3vw
  @media screen and (min-width: 770px)
    font-size: 2.2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  padding-top: 3%
  padding-bottom: 3%
  &:hover
    background-color: #1A924C
    cursor: pointer

.edit-exercise-btn
  font-family: 'GothamBold'
  width 50%
  display: inline-block
  color: $white
  text-transform: uppercase
  text-align: center
  border-radius: $formRadius
  border-bottom: none
  background-color: #22B573
  -webkit-transition: background-color 0.3s
  transition: background-color 0.3s
  -webkit-box-shadow 0px 0px 25px 0px rgba(0,0,0,0.75)
  -moz-box-shadow 0px 0px 25px 0px rgba(0,0,0,0.75)
  box-shadow 0px 0px 25px 0px $inactiveColor
  font-size 3vw
  @media screen and (min-width: 770px)
    font-size: 2.2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  padding-top: 3%
  padding-bottom: 3%
  &:hover
    background-color: #1A924C
    cursor: pointer

.notes
  display inline-block
  height 30%
  width 90%
  outline none
  padding-top 8%
  padding-left 5%
  @media screen and (min-width: 770px)
    height 40%

#noteTitle
  padding-top 4%
  display inline-block
  font-family 'GothamBold'
  text-transform uppercase
  text-align left
  color $mainColor
  width 80%
  margin-bottom 1%
  font-size 4vw
  @media screen and (min-width: 770px)
    font-size: 2.8vw
  @media screen and (min-width: 1700px)
    font-size: 1.5vw

.note-input
  position relative
  width 100%
  height 100%
  text-align left
  color $inactiveColor
  font-size 4vw
  @media screen and (min-width: 770px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1vw
  font-family 'GothamLight'
  background none
  border none
  resize none

#notes:focus
  outline none

#bodyBox
  display none

.body-part-box
  height 100%
  width 100%
  font-family 'GothamBold'
  text-transform uppercase
  text-align center
  color $mainColor

.percentage
  color orange
  font-size 150%

.percentage-box
  width 100%
  display inline-block

.recoveryText
  font-size 80%
  color $inactiveColor
  margin-bottom 3%

#iconOverviewTrans
  background $mainColor

.legend
  width 80%
  margin-left 10%
  border-radius $formRadius
  border-color $mainColor
  border solid 1px
  font-size 13px
  @media screen and (max-width: 350px)
    font-size 6px
  @media screen and (min-wdith: 350) and (max-width: 500px)
    font-size 10px

.weekly-legend
  width 33%
  display inline-block
  border-right solid 1px
  border-color $mainColor

.weekly-goal-legend
  display inline-block
  margin 3%
  width 100%

.legend-circle, .legend-measure-circle
  width 10px
  height 10px
  border-radius 50%
  border solid 3px
  display inline-block
  margin-top 3%

.legend-circle
  background-color #74e586
  border-color #00a136

.measurement-legend
  margin 3%

.legend-measure-circle
  background-color $white
  border-color $mainColor

.final-goal-legend
  width 33%
  display inline-block


.dashes
  padding-top 15px

.point-legend
  width 33%
  height 100%
  display inline-block
  border-left solid 1px
  border-color $mainColor

.graph-view
  width 100%
  height 87%

#graph
  height 65%
  width 100%
  @media screen and (min-width: 600px)
    width 88%
    margin 0 6%

.svgh
  height 70%
  width 100%


path
  stroke $mainColor
  stroke-width 3
  fill none

.axis
  stroke $mainColor
  font-family 'Gotham'
  shape-rendering crispEdges

.x.axis line, .y.axis line
  display none

.x.axis path, .y.axis path
  stroke $mainColor
  stroke-width 3

.circles
  stroke $mainColor
  fill $white
  stroke-width 3

.goal-point
  fill #74e586
  stroke #00a136
  stroke-width 3

.horizontalLine
  stroke-width 3
  stroke-dasharray 10 10

.tick
  font-size large
  @media screen and (max-width: 600px)
    font-size smaller
  @media screen and (max-width: 350px)
    font-size small


#buttonLeft
  width: 100%

#injuryTitle
  margin-top 5%
  font-size 3vw
  @media screen and (max-width: 600px)
    font-size 4vw
  @media screen and (max-width: 350px)
    font-size 4vw


#singlePercent
  font-size 2.5vw
  @media screen and (max-width: 600px)
    font-size 4vw
  @media screen and (max-width: 350px)
    font-size 4vw


.recoveryText
  font-size 2vw
  padding-bottom 2%
  border-bottom 1px solid $mainColor
  @media screen and (max-width: 600px)
    font-size 4vw
  @media screen and (max-width: 350px)
    font-size 3vw
