@require "style"

$formRadius = 20px

$formWidth 95%
$formWidthW 50%

form
  text-align: center
  font-family: 'GothamBold'
  @media screen and (min-width: 600px)
    margin-top: -30px

form h1
  text-transform: uppercase
  font-size: 5vw
  padding-bottom: 10px
  @media screen and (min-width: 600px)
    font-size: 3vw
    padding-bottom: 10px
  @media screen and (min-width: 1700px)
    font-size: 2vw
  color: $mainColor

.inputs
  margin: 0px auto
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  width: 95%
  @media all and (min-width: 600px)
    width: 60%

.input-box
  padding: 20px
  outline: none
  border: none
  text-align: right
  font-size: 4vw
  @media screen and (min-width: 600px)
    font-size: 2vw
    padding: 20px
  @media screen and (min-width: 1700px)
    font-size: 1.5vw
    padding: 25px
  border-bottom: solid 1px $inactiveColor
  //width: ($formWidth - 40)px
form input::-webkit-input-placeholder
  color: $inactiveColor
  font-style: italic
  font-size: 4vw
  @media screen and (min-width: 600px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1.5vw
form input:focus
  outline: nonet
.text-input
  position relative
  width 50%
  text-align right
  //float right
  color $darkgray
  background none
  border none
  font-size: 4vw
  @media screen and (min-width: 600px)
    font-size: 2vw
  @media screen and (min-width: 1700px)
    font-size: 1.5vw
   
.input-top
  border-top-right-radius: $formRadius
  border-top-left-radius: $formRadius
.input-bottom
  border-bottom-right-radius: $formRadius
  border-bottom-left-radius: $formRadius
  border-bottom: none

.input-name
  font-family: 'GothamBold'
  font-weight: bold
  text-transform: uppercase
  color: $mainColor
  text-align: left
  float: left
  position relative
  text-decoration: none
.input-name:before
  content: ""
  position: absolute
  width: 100%
  height: 2px
  bottom: 0
  left: 0
  background-color: $mainColor
  visibility: hidden
  -webkit-transform: scaleX(0)
  transform: scaleX(0)
  -webkit-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s
.text-input:focus + .input-name:before
  visibility: visible
  -webkit-transform: scaleX(1)
  transform: scaleX(1)

.input-name span
  display: block
  margin-bottom: 3px

.input-label
  font-family: 'GothamLight'
  color: $darkgray
  font-size: 2vw
  @media screen and (min-width: 600px)
    font-size: 1vw
  @media screen and (min-width: 1700px)
    font-size: 0.65vw
  text-transform: uppercase
  font-style: italic

.pt-button
  display: inline-block
  width: 50%
  height: 100%
  border: none
  font-family: 'GothamBold'
  font-size: 3.5vw
  text-transform: uppercase
.pt-button:focus
  outline: none
.pt-button:hover
  cursor: pointer
.button-1
  background: $mainColor
  color: #fff
.button-2
  background: #fff
  color: $mainColor

.validationError
  height 0%
  width 100%
  z-index 9999
  bottom 10%
  left 0
  background: #C1272D
  font-family 'GothamBold'
  color $white
  display block
  text-align: center

p
  padding-top: 1%

#errorContainer
  position fixed
  bottom 10%
  width 100%