@require "style"

$formRadius = 15px
$formWidth = 315

form
  text-align: center
  font-family: 'GothamBold'

form h1
  text-transform: uppercase
  font-size: 1.5em
  color: $mainColor

.inputs
  margin: 0px auto
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  width: $formWidth px

form input
  padding: 20px
  outline: none
  border: none
  text-align: right
  font-size: 15px
  width: ($formWidth - 40)px
form input::-webkit-input-placeholder
  color: $inactiveColor
  font-style: italic
form input:focus
  outline: none

.form-input
  border-top: 1px solid $inactiveColor

.input-top
  border-top-right-radius: $formRadius
  border-top-left-radius: $formRadius
.input-bottom
  border-bottom-right-radius: $formRadius
  border-bottom-left-radius: $formRadius
  border-top: 1px solid $inactiveColor

.input-name
  font-family: 'GothamBold'
  font-weight: bold
  text-transform: uppercase
  color: $mainColor
  text-align: left
  position: absolute
  margin-top: 20px
  margin-left: 20px

.input-name span
  display: block
  margin-bottom: 3px

.input-label
  font-family: 'GothamLight'
  color: $inactiveColor
  font-size: 0.5em
  text-transform: uppercase
  font-style: italic

.pt-button
  display: inline-block
  width: 50%
  height: 100%
  border: none
  font-family: 'GothamBold'
  font-size: 1.5em
  text-transform: uppercase
.pt-button:focus
  outline: none
.pt-button:hover
  cursor: pointer
.button-1
  background: $mainColor
  color: #fff
.button-2
  background: #fff
  color: $mainColor