@require "style"

$formRadius = 15px
$formWidth = 315

form
  text-align: center
  font-family: 'GothamBold'

form h1
  text-transform: uppercase
  font-size: 1.5em
  color: $mainColor

.inputs
  margin: 0px auto
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  width: $formWidth px
  background-color $white

.input-box
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-width: $formWidth px
  border-top: 1px solid $inactiveColor

.input-name
  font-family: 'GothamBold'
  font-weight: bold
  text-transform: uppercase
  color: $mainColor
  text-align: left
  margin: 20px
  margin-left: 20px

.num-box
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;

.num-button
  width: 100%
  height: 100%
  border: none
  font-family: 'GothamBold'
  font-size: 0.8em
  background: $mainColor
  margin: 1px
  color: #fff
.num-button:focus
  outline: none
.num-button:hover
  cursor: pointer

.arith-box
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; 
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;

form input
  padding: 20px
  text-align: left
  width: ($formWidth - 40)px
form input::-webkit-input-placeholder
  color: $inactiveColor
  font-style: italic
form input:focus
  outline: none

.form-input
  border-bottom: 1px solid $inactiveColor
  border-bottom-right-radius: $formRadius
  border-bottom-left-radius: $formRadius
  font-size: 0.4em
  border: none

.media-button-box
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-width: $formWidth px
  border-top: 1px solid $inactiveColor
  margin: 0 auto
  padding-bottom: 100px

.media-button
  width: 75%
  height: 75%
  border: none
  font-family: 'GothamBold'
  font-size: 0.8em
  text-transform: uppercase
  text-align: center
  color $mainColor
  background-color $white
  border-right none
  box-shadow: 0px 0px 25px 0px $inactiveColor;
  border-radius: $formRadius
  padding 4px 0px 4px 5px
.media-button:focus
  outline: none
.media-button:hover
  cursor: pointer

.pt-button
  width: 100%
  height: 100%
  border: none
  font-family: 'GothamBold'
  font-size: 1.5em
  text-transform: uppercase
.pt-button:focus
  outline: none
.pt-button:hover
  cursor: pointer
.button-1
  background: $mainColor
  color: #fff
.button-2
  background: #fff
  color: $mainColor