@require "helpers"

$mainColor = #2e3192
$inactiveColor = #BBB
$inactiveColor2 = #fafafa
$darkgray = #333
$white = #ffffff

text-color = #000000
mobile-width = 600px


@font-face
    font-family GothamBold
    src url(/fonts/Gotham-Bold.ttf)

@font-face
    font-family GothamLight
    src url(/fonts/Gotham-Light.ttf)

*
    margin 0
    padding 0

body
    margin 0
    padding 0
    height 100vh
    background-color $inactiveColor2

#header
    display inline-block
    height 12%
    width 100%
    background-color $white


.profile-box
    display inline-block
    padding-top 5%
    height 100%
    width 100%

.profile-box-left
    display inline-block
    width ((7/8) * 100)%

.profile-box-right
    display inline-block
    text-align center
    width ((1/8) * 100)%
    padding-top 1%

#profileName
    display inline-block
    font-family 'GothamBold'
    text-align right
    font-weight bold
    color $mainColor
    width 100%
    height 50%
    padding-top 0.75%
    text-transform uppercase

.profileAction
    border-color $mainColor
    float right
    font-family 'GothamBold'
    padding: 4px 20px 4px 20px

#logOutButton
    display inline-block
    background-color $mainColor
    color $white
    border-radius 11px 0px 0px 11px

#logOutButton:hover
    background $inactiveColor
    color $mainColor

.border-left
    float right
    height 25px
    width 25px
    background-color $mainColor
    border-color $mainColor
    border-right none
    border-top-left-radius 50%
    border-bottom-left-radius 50%

.border-right
    float right
    height 25px
    width 25px
    background-color $white
    border-color $mainColor
    border-left none
    border-top-right-radius 50%
    border-bottom-right-radius 50%

#settingsButton
    background-color $white
    color $mainColor
    border-radius: 0 11px 11px 0

#settingsButton:hover
    background $inactiveColor
    color $mainColor

#profileImg
    display inline-block
    border-radius 50%

#navbar
    height 6%
    width 90%
    margin 1% 5%
    border-bottom 2px solid $inactiveColor

.nav

.navButton
    font-family 'GothamBold'
    text-transform uppercase
    text-decoration none
    color $inactiveColor
    padding-right 3%

.active
    color $mainColor

#content
    height 70%
    width 90%
    padding 5%

#footer
    height 10%
    width 100%
    position fixed
    z-index 9999
    bottom 0
    left 0
    background-color $mainColor
    font-family 'GothamBold'
    color $white

.footerButton
    display: inline-block
    width: 50%
    height: 100%
    border: none
    font-family: 'GothamBold'
    font-size: 1.5em
    text-transform: uppercase
    text-align center

@media all and (max-width: 500px)
    #footer
        height 6%
    .footerButton
        font-size 18px

@media all and (min-width: 500px) and (max-width: 800px)
    #footer
        height 7%
    .footerButton
        font-size 22px


.footerButton:focus
    outline: none

.footerButton:hover
    cursor: pointer

#buttonLeft
    background: $mainColor
    color: #fff
    width: 50%

#buttonRight
    background: #fff
    color: $mainColor
    width: 50%

#errorDiv
    height: 20%

button:hover, .submit:hover
    cursor: pointer

@media all and (max-width: 375px)
    #profileImg
        height 90%
        width 90%
    .navButton
        font-size 20px
    #navbar
        height 4%
    #profileName
        padding-top 8px
        font-size 12px
    #logOutButton
        padding 4px 20px
        font-size 6px
    #settingsButton
        padding 4px 20px
        font-size 6px
    #header
        height 10%
    #footer
        height 6%
    .footerButton
        font-size 12px

@media all and (min-width: 375px) and (max-width: 500px)
    #profileImg
        padding-top 5px
        height 85%
        width 85%
    .navButton
        font-size 20px
    #navbar
        padding-top 3px
        height 4%
    #profileName
        padding-top 12px
        font-size 16px
    #logOutButton
        padding 4px 20px
        font-size 8px
    #settingsButton
        padding 4px 20px
        font-size 8px
    #header
        height 9%
    #footer
        height 6%
    .footerButton
        font-size 16px

@media all and (min-width: 500px) and (max-width: 550px)
    #profileImg
        height 75%
        width 75%
    .navButton
        font-size 20px
    #navbar
        height 4%
    #profileName
        padding-top 12px
        font-size 14px
    #logOutButton
        padding 4px 20px
        font-size 7px
    #settingsButton
        padding 4px 20px
        font-size 7px
    #header
        height 10%
    #footer
        height 6%
    .footerButton
        font-size 14px

@media all and (min-width: 550px) and (max-width: 700px)
    #profileImg
        height 70%
        width 70%
    .navButton
        font-size 22px
    #navbar
        height 4%
    #profileName
        padding-top 14px
        font-size 16px
    #logOutButton
        padding 4px 20px
        font-size 8px
    #settingsButton
        padding 4px 20px
        font-size 8px
    #header
        height 10%
    #footer
        height 7%
    .footerButton
        font-size 16px

@media all and (min-width: 700px) and (max-width: 900px)
    #profileImg
        height 65%
        width 65%
    .navButton
        font-size 26px
    #navbar
        height 4%
    #profileName
        font-size 20px
    #logOutButton
        padding 4px 20px
        font-size 10px
    #settingsButton
        padding 4px 20px
        font-size 10px
    #header
        height 11%
    #footer
        height 7%
    .footerButton
        font-size 20px

@media all and (min-width: 900px) and (max-width: 1000px)
    #profileImg
        height 60%
        width 60%
    .navButton
        font-size 32px
    #navbar
        height 5%
    #profileName
        padding-top 15px
        font-size 24px
    #logOutButton
        padding 4px 20px
        font-size 10px
    #settingsButton
        padding 4px 20px
        font-size 10px
    #header
        height 12%
    #footer
        height 8%
    .footerButton
        font-size 24px


@media all and (min-width: 1000px) and (max-width: 1100px)
    #profileImg
        height 65%
        width 65%
    .navButton
        font-size 35px
    #navbar
        height 7%
    #profileName
        padding-top 18px
        font-size 26px
    #logOutButton
        padding 4px 20px
        font-size 13px
    #settingsButton
        padding 4px 20px
        font-size 13px
    #header
        height 16%
    #footer
        height 8%
    .footerButton
        font-size 26px

@media all and (min-width: 1100px) and (max-width: 1250px)
    #profileImg
        height 55%
        width 55%
    .navButton
        font-size 40px
    #navbar
        height 6%
    #profileName
        padding-top 15px
        font-size 30px
    #logOutButton
        padding 4px 20px
        font-size 15px
    #settingsButton
        padding 4px 20px
        font-size 15px
    #header
        height 14%
    #footer
        height 7%
    .footerButton
        font-size 30px


@media all and (min-width: 1250px) and (max-width: 1475px)
    #profileImg
        height 48%
        width 48%
    .navButton
        font-size 43px
    #navbar
        height 7%
    #profileName
        font-size 32px
    #logOutButton
        padding 4px 20px
        font-size 16px
    #settingsButton
        padding 4px 20px
        font-size 16px
    #header
        height 15%
    #footer
        height 8%
    .footerButton
        font-size 32px



@media all and (min-width: 1475px) and (max-width: 1700px)
    #profileImg
        height 50%
        width 50%
    .navButton
        font-size 45px
    #navbar
        height 8%
    #profileName
        padding-top 18px
        font-size 36px
    #logOutButton
        padding 4px 20px
        font-size 18px
    #settingsButton
        padding 4px 20px
        font-size 18px
    #header
        height 14%
    #footer
        height 8%
    .footerButton
        font-size 36px

@media all and (min-width: 1700px)
    #profileImg
        height 40%
        width 40%
    .navButton
        font-size 50px
    #navbar
        height 8%
    #profileName
        padding-top px
        font-size 44px
    #logOutButton
        padding 4px 20px
        font-size 22px
    #settingsButton
        padding 4px 20px
        font-size 22px
    #header
        height 14%
    #footer
        height 9%
    .footerButton
        font-size 44px

@media all and (min-width: 850px) and (min-height: 850px)
    #profileImg
        height 80%
        width 80%
    .navButton
        font-size 45px
    #navbar
        padding-top 10px
        height 5%
    #profileName
        padding-top 20px
        font-size 30px
    #logOutButton
        padding 4px 20px
        font-size 15px
    #settingsButton
        padding 4px 20px
        font-size 15px
    #header
        height 9%
    #footer
        height 9%
    .footerButton
        font-size 25px

.validationError
    height 10%
    width 100%
    z-index 9999
    bottom 9%
    left 0
    background: #C1272D
    font-family 'GothamBold'
    color $white
    display block
    text-align: center

p
    padding-top: 1%

#errorContainer
    position fixed
    bottom 9%
    width 100%

.valid
    box-shadow: inset 0px 0px 5px #22B573

.invalid
    box-shadow: inset 0px 0px 5px #b5191e