@require "helpers"

$mainColor = #2e3192
$inactiveColor = #BBB
$inactiveColor2 = #fafafa
$darkgray = #333
$white = #ffffff

text-color = #000000
mobile-width = 600px

@font-face
    font-family GothamBold
    src url(/fonts/Gotham-Bold.ttf)

@font-face
    font-family GothamLight
    src url(/fonts/Gotham-Light.ttf)

*
    margin 0
    padding 0

body
    margin 0
    padding 0
    height 100vh
    background-color $inactiveColor2

#header
    height 12%
    width 100%
    background-color $white

.outerContainer
    height 100%
    width 100%

.innerContainerWide
    display inline-block
    width ((5/6) * 100)%

.innerContainerSmall
    display inline-block
    width ((1/6) * 100)%

#profileName
    font-family 'GothamBold'
    text-align right
    font-weight bold
    color $mainColor
    display inline-block
    width 100%
    height 50%
    padding 5px
    font-size 1.5em
    text-transform uppercase

.profileAction
    background-color $mainColor
    border-color $mainColor
    float right
    font-family 'GothamBold'
    padding: 4px 20px 4px 20px

#logOutButton
    color $white
    border-radius 11px 0px 0px 11px

.border-left
    float right
    height 25px
    width 25px
    background-color $mainColor
    border-color $mainColor
    border-right none
    border-top-left-radius 50%
    border-bottom-left-radius 50%

.border-right
    float right
    height 25px
    width 25px
    background-color $white
    border-color $mainColor
    border-left none
    border-top-right-radius 50%
    border-bottom-right-radius 50%

#settingsButton
    color $mainColor
    background-color $white
    border-radius: 0 11px 11px 0

#profileImg
    height 80%
    width 80%
    margin 10%
    border-radius 50%

#navbar
    height 6%
    width 90%
    margin 1% 5%
    border-bottom 2px solid $inactiveColor

.nav

.navButton
    font-family 'GothamBold'
    font-size 2em
    text-transform uppercase
    text-decoration none
    color $inactiveColor
    padding-right 20px

.active
    color $mainColor

#content
    height 70%
    width 90%
    padding 5%

#footer
    height 10%
    width 100%
    position fixed
    z-index 9999
    bottom 0
    left 0
    background-color $mainColor
    font-family 'GothamBold'
    color $white

.footernav1, .footernav2
    width 50%
    display inline-block
    height 100%
    text-align center
    vertical-align middle

.footernav1
    background-color $mainColor

.footernav2
    background-color $white
    color $mainColor

.footernav1text, .footernav2text
    margin-top 2%