extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/add-measure.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
block content
    form
        .inputs
            .input-box.input-header
                .input-name
                    span SHOULDER
                    .input-label
                .progress-icon
            .input-box.input-bottom 
                .measure-container
                    .m-old
                        .num
                            span 25
                        .m-label PREVIOUS
                    .m-new
                        .num
                            input(type='text' name='newMeasure' placeholder='NEW')
                        .m-label NEW
            .input-box.action-box.input-bottom.submit(onclick='submitMeasure(' + Id +')') SUBMIT
    p#success
    // How should submission work/where to? SHOULDER? 25?
block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitMeasure(' + Id +')') #{footerButton2}