extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/add-measure.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function() { loadAddMeasure() }

block content
    form#fields
    p#success

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitMeasures()') #{footerButton2}
