extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

block content
    #js-error-message
    #loading
    form
        .inputs
            .input-box#patname
                input.text-input(type='name' name='name' placeholder='John Smith ' onblur="checkName(this.value)" maxlength="24")
                img.input-name(src="http://localhost:3001/img/profile_pic.jpg" alt="Icon")
            .input-box
                input.text-input(type='email' name='email' placeholder='abc@xyz.com' onblur="checkEmail(this.value)" maxlength="50")
                .input-name Email
            .input-box
                input.text-input(type='text' name='surgery' placeholder='Arm' maxlength="24")
                .input-name Surgery Type
            .input-box
                input.text-input(type='password' name='hash' placeholder='********' maxlength="24")
                .input-name Password
            .input-box.last-box
                input.text-input(type='phone' id='phone' name='phone' placeholder='(123) 456-7891 ' onblur="checkPhone(this.value)" maxlength="13" onkeypress="return isNumberKey(event)")
                .input-name Phone #
        br
        .inputs#rom-inputs
            .input-box
                input.text-input.rom-name-input(type='text' name='motion-name' placeholder='ENTER TARGETED MOTION...' onblur="checkMotionRangeName(this.value)")
                .rom1
                    .rom-label Starting Range of Motion
                    input.rom-input.degrees(maxlength='3' type='rom' name='rom1' placeholder='___째 ' onblur="checkMotionRangeNum(this.value)")
                .rom2
                    .rom-label Ending Range of Motion
                    input.text-input.degrees(maxlength='3' type='rom' name='rom2' placeholder='___째 ' onblur="checkMotionRangeNum(this.value)")
            .input-box.last-box#rom-add(onclick="addMotion()") Add Motion
        br
        .inputs
            .input-box.last-box
                .rom-label#notes Notes
                textarea.text-input.notes(type='notes' id='notes' name='notes' cols="25" placeholder="Lots of improvement. ")
    p#success
        script.
            function checkName(str) {
                var errorDiv = document.getElementById('nameError');
                var re = /[A-Za-z -']$/;
                if (!re.test(str) && str != "") {
                    document.getElementById('patname').className = 'input-box invalid';
                    errorDiv.innerHTML = "Invalid name entered";
                    errorDiv.style.height = "6%";
                }
                else if (str != 0) {
                    document.getElementById('patname').className = 'input-box input-top valid';
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }

                }
                else {
                    //errorDiv.style.innerHTML = ""
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                    //errorDiv.style.height = "0";
                }
            }
            function checkEmail(str) {
                var errorDiv = document.getElementById('emailError');
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if ((!re.test(str)) && (str != "")) {
                    errorDiv.innerHTML = "Invalid email entered";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }
            function checkMotionRangeName(str) {
                var errorDiv = document.getElementById('rangeMotionError');
                if (str == "") {
                    errorDiv.innerHTML = "Missing Motion Name";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }
            function checkMotionRangeNum(str) {
                var errorDiv = document.getElementById('rangeMotionError');
                var num = parseInt(str)
                if (num < 0 || isNaN(num)) {
                    errorDiv.innerHTML = "Invalid Range of Motion";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }
            function addMotion() {
                var inputs = document.getElementById('rom-inputs')
                var romadd = document.getElementById('rom-add')
                var newMotion = document.createElement("div")
                newMotion.setAttribute('class', 'input-box')
                newMotion.innerHTML = "<input class='text-input rom-name-input' type='text' name='motion-name' placeholder='ENTER TARGETED MOTION...' onblur='checkMotionRangeName(this.value)'><div class='rom1'><div class='rom-label'>Starting Range of Motion</div><input class='rom-input degrees' type='rom' name='rom1' placeholder='___째 ' onblur='checkMotionRangeNum(this.value)' maxlength='3'></div><div class='rom2'><div class='rom-label'>Ending Range of Motion</div><input class='text-input degrees' type='rom' name='rom2' placeholder='___째 ' onblur='onblur='checkMotionRangeNum(this.value)' maxlength='3'></div>"
                inputs.insertBefore(newMotion, romadd)
            }
            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57) && (charCode != 40) && (charCode != 41) && (charCode != 45))
                    return false;

                return true;
            }
            function checkPhone(str) {
                var errorDiv = document.getElementById('phoneError');
                var re = /^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$/;
                if ((!re.test(str)) && (str != "")) {
                    errorDiv.innerHTML = "Invalid phone number entered";
                    errorDiv.style.height = "4%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitPatient()') #{footerButton2}
