extends template

block content
   form#js-login-form.form
      input(type='email' name='email' placeholder='abc@xyz.com')
      input(type='password' name='password' placeholder='********')
      button.form-input.button(type='button' onclick='submitLogin()') Submit

block postScript
   script submitOnEnterKey(submitLogin);