extends template
block cssSheets
    link(rel='stylesheet', href='/stylesheets/exercise-set.css')
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function() {
            loadEditExercises();
        }
block content
    form
        #loading
        h1 Exercise Set

        .inputs#exercise-inputs
                .input-box
                    input.text-input.exercise-name-input(type='text' name='exercise-name' placeholder='ENTER EXERCISE NAME' onblur='checkExerciseName(this.value)')
                    .ex1
                        .exercise-label Number of Sets
                        input.ex-input.degrees(maxlength='3' name='numSets' placeholder='____' onblur='checkExerciseNum(this.value)')
                    .ex2
                        .exercise-label Number of Reps/Duration
                        input.text-input.degrees2(maxlength='3' name='numRepsOrDuration' placeholder='____' onblur='checkExerciseNum(this.value)')
                    br
                    .exercise-label#notes Notes
                    textarea.text-input.notes(type='notes' id='notes' name='notes' cols="25" placeholder="Additional information about the exercise... ")
                .input-box.last-box#exercise-add(onclick="addExercise()") Add Motion

    p#success
        script.
            function checkExerciseName(str) {
                var errorDiv = document.getElementById('addExerciseError');
                if (str == "") {
                    errorDiv.innerHTML = "Missing Exercise Name";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }
            function checkExerciseNum(str) {
                var errorDiv = document.getElementById('addExerciseError');
                var num = parseInt(str)
                if (num < 0 || isNaN(num)) {
                    errorDiv.innerHTML = "Invalid Number";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitEditExercise()') #{footerButton2}
