extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/exercise-form.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
block content
    form
        .pt-box
            .pic-box
                img(src='../../img/profile_pic.jpg' id='profileImg')
                img(src='../../img/upIcon.png' id='upIcon')
            .info-box
                .name Abdul
                .recovery-box
                    .percent1
                        span 70%
                    .recovery
                        span Recovered
        .name Exercise Set
        button#applyTemplate Apply Template
        .pt-box
            .pic-box
                img(src='../../img/profile_pic.jpg' id='profileImg')
                img(src='../../img/upIcon.png' id='upIcon')
            .info-box
                .name Back Bend
                .recovery-box
                    .percent1
                        span 70%
                    .recovery
                        span 2 sets, 20 seconds
        .plus-button
            a(href='/create-patient').add +
        //- .inputs
        //-     .input-box.input-top
        //- 	    input.text-input(type='exercise-name' name='exerciseName' placeholder='John Smith')")
        //-         .input-name Full Name

        //- .inputs
        //-     .input-box.input-top#name
        //-         input.text-input(type='full-name' name='fullName' placeholder='John Smith' onblur="checkName(this.value)")
        //-         .input-name Full Name
        //-     .input-box#email
        //-         input.text-input(type='email' name='email' placeholder='abc@xyz.com' onblur="checkEmail(this.value)")            
        //-         .input-name Email
        //-     .input-box#pass1
        //-         input.text-input(type='password' id='password' name='password' placeholder='********' onblur="checkPassword(this.value)")
        //-         .input-name
        //-             span Password
        //-             span.input-label 8 Characters Min
        //-     .input-box.input-bottom#pass2
        //-         input.text-input(type='password' name='confirmPassword' placeholder='********' onblur="checkPasswordConfirm(this.value)")
        //-         .input-name Confirm
block submitForm
    button.footerButton#buttonRight(type='button') #{footerButton2}