extends template
block cssSheets
    link(rel='stylesheet', href='/stylesheets/exercise-set.css')
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function() {
            loadPatientGeneralInfo();
        }
block content
    form
        #generalInfo
        h1 Exercise Set

        .inputs
            .input-box#patname
                input.text-input(type='exsetname' name='exsetname' placeholder='Set Name ' maxlength="65")
        br
        .inputs#rom-inputs
            .input-box
                input.text-input.rom-name-input(type='exname' name='exname' placeholder='ENTER EXERCISE NAME HERE ' onblur="checkMotionRangeName(this.value)")
                .rom2
                    .rom-label Exercise Specifics
                    input.text-input.degrees(maxlength='60' type='exdetails' name='exdetails' placeholder='reps / time ' onblur="checkMotionRangeNum(this.value)")
            .input-box.last-box#rom-add(onclick="addExercise()") Add Exercise

        //- TODO: use the code below to format a delete button on the box div
        //- button(type='button' onclick="window.location.href='/exercise-form';")#applyTemplate Apply Template
        //- .pt-box
        //-     .arrows
        //-         .up ▲
        //-         .down ▼
        //-     .exercise-box
        //-         .exName Back Bend
        //-         .recovery-box
        //-             .sets
        //-                 span 2 sets, 20 seconds
        //-     .rh-box
        //-         .edit-button Edit
        //-         .delete-button Delete
        //- .plus-button
        //-     a(href='/exercise-form').add +
    p#success
        script.
            function addExercise() {
                var inputs = document.getElementById('rom-inputs')
                var romadd = document.getElementById('rom-add')
                var newMotion = document.createElement("div")
                newMotion.setAttribute('class', 'input-box')
                newMotion.innerHTML = "<input class='text-input rom-name-input' type='text' name='motion-name' placeholder='ENTER EXERCISE NAME HERE'><div class='rom2'><div class='rom-label'>Exercise Specifics</div><input class='text-input degrees' type='rom' name='rom2' placeholder='reps / time ' onblur='#' maxlength='60'></div>"
                inputs.insertBefore(newMotion, romadd)
            }

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitExSet()') #{footerButton2}
    //- TODO: add functionality for the left footer button

