extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    link(rel='stylesheet', href='/stylesheets/rom-form.css')
    script.
        window.onload = function() {
            loadExerciseStart()
        }

block content
    form
        #exercisesTitle Exercise Sets
        #exercisepg
        #loading
            p Loading
            img(src='../../img/loading.gif')

block footer
