extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    link(rel='stylesheet', href='/stylesheets/rom-form.css')
    script.
        window.onload = function() {
            loadExerciseStart();
        }

block content
    form
        #exercisesTitle Exercise Sets
        #exercisepg
        #loading
            p Loading
            img(src='../../img/loading.gif')
    #painInput.modal
        h3 On a scale of 1 (least) - 10 (most), how uncomfortable was that exercise?
        br
        input(name='painBar',type='range',min='1',max='10')
        button(style='background: red',onclick='cancel(this)') Cancel
        button(onclick='submitPain(this)') Submit
    script.
        var selectedExercise
        function painInput(ele){
            document.getElementById('painInput').style.display = 'block'
            selectedExercise = ele
        }
        function submitPain(ele){
            document.getElementById('painInput').style.display = 'none'
            selectedExercise.style.filter = 'grayscale(0%)'
            selectedExercise = null
        }
        function cancel(ele){
            document.getElementById('painInput').style.display = 'none'
        }
block footer
