extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/rom-form.css')

block content
    form
        #exercisesTitle Exercises
        .exercise
            .input-box-top
                .input-name Backbend
                    .input-name.metaData 2 sets, 20 seconds
                .rightArrowDiv
                    .input-name.rightArrow ►
                br
        .exercise
            .input-box-top
                .input-name Arm Stretch
                    .input-name.metaData 2 sets, 20 seconds

                .rightArrowDiv
                    .input-name.rightArrow ►
                br
        .exercise
            .input-box-top
                .input-name Back Pull
                    .input-name.metaData 2 sets, 20 seconds
                .rightArrowDiv
                    .input-name.rightArrow ►
                br

block footer