extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    link(rel='stylesheet', href='/stylesheets/rom-form.css')
    script.
        window.onload = function() {
            loadExerciseStart();
        }

block content
    form
        #exercisesTitle Exercise Sets
        #exercisepg
        #loading
            p Loading
            img(src='../../img/loading.gif')
        .ex.pt-box
            .ex-info
                .ex-info-name 
                    span Shoulder Extension
                .ex-info-details
                    span 3 sets, 20 reps
            .ex-complete
                img.complete-icon(src='../../img/checkIcon-13.png')

block footer
