extends template
block cssSheets
    link(rel='stylesheet', href='/stylesheets/exercise-set.css')
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function() {
            loadPatientGeneralInfo();
        }
block content
    form
        #generalInfo
        h1 Exercise Set

        .inputs#exercise-inputs
                .input-box
                    input.text-input.exercise-name-input(type='text' name='exercise-name' placeholder='ENTER EXERCISE NAME' onblur='checkExerciseName(this.value)')
                    .ex1
                        .exercise-label Number of Sets
                        input.ex-input.degrees(maxlength='3' name='numSets' placeholder='____' onblur='checkExerciseNum(this.value)')
                    .ex2
                        .exercise-label Number of Reps/Duration
                        input.text-input.degrees(maxlength='3' name='numRepsOrDuration' placeholder='____' onblur='checkExerciseNum(this.value)')
                    br
                    .exercise-label#notes Notes
                    textarea.text-input.notes(type='notes' id='notes' name='notes' cols="25" placeholder="Additional information about the exercise... ")
                .input-box.last-box#exercise-add(onclick="addExercise()") Add Motion



        //- TODO: use the code below to format a delete button on the box div
        //- button(type='button' onclick="window.location.href='/exercise-form';")#applyTemplate Apply Template
        //- .pt-box
        //-     .arrows
        //-         .up ▲
        //-         .down ▼
        //-     .exercise-box
        //-         .exName Back Bend
        //-         .recovery-box
        //-             .sets
        //-                 span 2 sets, 20 seconds
        //-     .rh-box
        //-         .edit-button Edit
        //-         .delete-button Delete
        //- .plus-button
        //-     a(href='/exercise-form').add +
    p#success
        script.
            function addExercise() {
                   var inputs = document.getElementById('exercise-inputs')
                   var exadd = document.getElementById('exercise-add')
                   var newEx = document.createElement("div")
                   newEx.setAttribute('class', 'input-box')
                   newEx.innerHTML = "<input class='text-input exercise-name-input' type='text' name='motion-name' placeholder='ENTER EXERCISE NAME' onblur='checkExerciseName(this.value)'><div class='ex1'><div class='exercise-label'>Number of Sets</div><input class='ex-input degrees' name='ex1' placeholder='____' onblur='checkExerciseNum(this.value)' maxlength='3'></div><div class='ex2'><div class='exercise-label'>Number of Reps/Duration</div><input class='text-input degrees' name='ex2' placeholder='____' onblur='checkExerciseNum(this.value)' maxlength='3'></div><br><div class='exercise-label' id='notes'>Notes</div><textarea class='text-input notes' type='notes' id='notes' name='notes' cols='25' placeholder='Additional information about the exercise... ''></textarea>"
                   inputs.insertBefore(newEx, exadd)
            }
            function checkExerciseName(str) {
                var errorDiv = document.getElementById('addExerciseError');
                if (str == "") {
                    errorDiv.innerHTML = "Missing Exercise Name";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }
            function checkExerciseNum(str) {
                var errorDiv = document.getElementById('addExerciseError');
                var num = parseInt(str)
                if (num < 0 || isNaN(num)) {
                    errorDiv.innerHTML = "Invalid Number";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitExSet()') #{footerButton2}
    //- TODO: add functionality for the left footer button
