extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/rom-form.css')

block content

    #exercisesTitle Exercises
    .exercise
        .input-box-top
            .input-name Backbend
            .rightArrow
                .input-name ►
            br
    .exercise
        .input-box-top
            .input-name Arm Stretch
            .rightArrow
                .input-name ►
            br
    .exercise
        .input-box-top
            .input-name Back Pull
            .rightArrow
                .input-name ►
            br

block footer