extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

block header

block content
    #loginTitle Forgot Password
    form#loginForm
        .inputs
            .tabcontent#tabPatient
                .input-box
                    input.text-input(type='email' name='emailname' placeholder='abc@xyz.com' onblur="checkEmail(this.value)" maxlength="24")
                    .input-name Email
            //button#buttonSubmit Submit
    p#success
block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitPatient(' + ptId + ')') #{footerButton2}