extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style.
        form input[type='radio'] {
            opacity: 0;
            cursor: pointer;
            position: absolute;
            width: 20px;
            height: 20px;
            pointer-events: auto;
        }

block header

block content
    .loginTitle Forgot Password
    form.loginForm
        .inputs
            .input-box
                .radio1.align
                    label(for="PT").pad-user-radio PT
                    #radioBox1
                    input(class="radio-button" type='radio' id="PT" name='user-type' value="PT" checked onclick="radioBox2.style.background='#ffffff', radioBox1.style.background='#2e3192'")
                .radio2.align
                    label(for="Patient").pad-user-radio PATIENT
                    #radioBox2
                    input(class="radio-button" type='radio' id="Patient" name='user-type' value="Patient" onclick="radioBox1.style.background='#ffffff', radioBox2.style.background='#2e3192'")
            .input-box.last-box
                input.text-input(type='email' name='email' placeholder='example@domain.com' maxlength="24")
                .input-name Email
    //p#success

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitForgotPassword()') #{footerButton2}
    script.
        function submitForgotPassword() {
            var data = {
                isPt: document.forms[0].PT.checked,
                email: document.forms[0].email.value
            };
            fetch('/forgotpassword', {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(function (res) {
                if (!res.ok) return submitError(res);
                window.location = '/password-reset-message';
            }).catch(console.log('error'));
        }