extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function() {
            if (localStorage.token) window.location = '/patients';
        }

block header

block content
    #loginTitle Login
    form#loginForm.form
        .inputs
            button.tablinks#buttonTabPatient(type='button' onclick="changeTab(event, 'tabPatient')") Patient
            button.tablinks#buttonTabPT(type='button' onclick="changeTab(event, 'tabPT')") PT
            .tabcontent#tabPatient
                .input-box
                    input.text-input(type='emailp' name='emailp' placeholder='abc@xyz.com' maxlength="24")
                    .input-name Email
                .input-box
                    input.text-input(type='passwordp' name='passwordp' placeholder='********' maxlength="24")
                    .input-name Password
            .tabcontent#tabPT
                .input-box
                    input.text-input(type='email' name='email' placeholder='abc@xyz.com' maxlength="24")
                    .input-name PT Email
                .input-box
                    input.text-input(type='password' name='password' placeholder='********' maxlength="24")
                    .input-name Password
    //a#forgotPassword Forgot Password
    a#loginTitle(style="font-size: 1em;" href="/forgotpassword") Forgot Password
    p#success
    p#js-error-message
        script.
            function changeTab(evt, Tab) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                    }

                // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(Tab).style.display = "block";
                evt.currentTarget.className += " active";
            }
            submitOnEnterKey(submitLogin);

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitLogin()') #{footerButton2}