block cssSheets
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

block content

    form#loginForm
        .inputs
            button.tablinks#buttonTabPatient(type='button' onclick="changeTab(event, 'tabPatient')") Patient
            button.tablinks#buttonTabPT(type='button' onclick="changeTab(event, 'tabPT')") PT
            .tabcontent#tabPatient
                .input-box
                    input.text-input(type='username' name='usernamename' placeholder='JohnSmith' onblur="checkUsername(this.value)" maxlength="24")
                    .input-name Username
                .input-box
                    input.text-input(type='password' name='password' placeholder='********' onblur="checkPassword(this.value)" maxlength="24")
                    .input-name Password
            .tabcontent#tabPT
                .input-box
                    input.text-input(type='username' name='username' placeholder='JohnSmith' onblur="checkUsername(this.value)" maxlength="24")
                    .input-name PT Username
                .input-box
                    input.text-input(type='password' name='password' placeholder='********' onblur="checkPassword(this.value)" maxlength="24")
                    .input-name Password
            button#buttonSubmit Submit
    p#success
        script.
            function changeTab(evt, Tab) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                    }

                // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(Tab).style.display = "block";
                evt.currentTarget.className += " active";
            }