extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    link(rel='stylesheet', href='/stylesheets/patients.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

block header

block content
    .loginTitle You will receive an email with directions to reset your password.
