extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function(){load();}

block content
    form
        .search-bar
            input(type="text" name="patientSearch" id="patientSearch" placeholder="Find a patient")
            button(type='button' onclick="pSearch()") Search
        h1 Sort By:
        #patients

        .plus-button
            a(href='/create-patient').add +
        //- button(type='button' onclick='fetchPatients()') Fetch
        //- #js-patients
//- block submitForm
//-     button.footerButton#buttonRight(type='button' onclick='submitForm()') #{footerButton2}
//- block postScript
//-     script fetchPatients();
block postScript
    script.