extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.

block content
    form
        .search-bar
            input(type="search" name="patientSearch" id="patientSearch" placeholder="Find a patient")
            button(type='button' onclick='pSearch(' + patients + ')') Search
        h1 Sort By:
        each val in patients
            .pt-box
                .pic-box
                    img(src='../../img/profile_pic.jpg' id='profileImg')
                .info-box
                    .name= val.name
                    .input-label= val.phoneNumber
                .buttonCollapse(data-target=".collapse" onclick='getGraphData(' + val.id + ')')
                    .arrow
                    .collapse#collapse
                        // Collapsible info here!!
                        .collapse-inner
                            .input-label Shoulder
                            .input-percent1 70%
                        .collapse-inner
                            .input-label Neck - Side
                            .input-percent2 50%
                        .collapse-inner
                            .input-label Neck - Front
                            .input-percent3 30%
                        .inspect1 Inspect Patient

        .plus-button
            a(href='/create-patient').add +
        //- button(type='button' onclick='fetchPatients()') Fetch
        //- #js-patients
//- block submitForm
//-     button.footerButton#buttonRight(type='button' onclick='submitForm()') #{footerButton2}
//- block postScript
//-     script fetchPatients();
block postScript
    script.