extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

block content
    p.headerGrey Welcome back,
    .loginTitle #{firstName}
    div.container-center
        button.buttonTab(onclick="location.href='/exercises';") Access Workouts
    p.loginTitle.patientHome Completed workouts
        span.mainColor  5 days
        span  in a row
    p.loginTitle.patientMain You're doing great!
    div.container-center
        p.loginTitle.patientMessage You've improved a lot since last week! Keep up the good work.
block footer