extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients1.css')
    link(rel='stylesheet', href='/stylesheets/patient-status.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    script.
        var ChangeView = {
            box1: document.getElementsByClassName('overview-box')[0],
            box2: document.getElementsByClassName('body-part-box')[0],
            toggleView: function (e) {
                e.style.display = (e.style.display == 'none') ? 'inline-block' : 'none'
            }}

block content
    .pt-box
        .pic-box
            img(src='../../img/profile_pic.jpg' id='profileImg')
            img(src='../../img/upIcon.png' id='upIcon')
        .info-box
            .name Abdul
            .recovery-box
                .percent1
                    span 70%
                .recovery
                    span Recovered
    #menuBox.menu-box
        .menu-top
            .exit-sign
                button(id='exitButton' onclick='menuBox.style.display="none", bottomBox.style.opacity="1"') X
        .menu-options
            .option.one
                .menu-icon#iconOverview
                span(onclick='iconOverview.style.display="inline-block", iconGraph.style.display="none", iconOverviewTrans.style.background="#2e3192", iconGraphOneTrans.style.background="#BBB", overviewBox.style.display="inline-block", bodyBox.style.display="none", menuBox.style.display="none", bottomBox.style.opacity="1"') Overview
            .option.two
                .menu-icon#iconGraph
                span(onclick='iconOverview.style.display="none", iconGraph.style.display="inline-block", iconOverviewTrans.style.background="#BBB", iconGraphOneTrans.style.background="#2e3192", overviewBox.style.display="none", bodyBox.style.display="inline-block", menuBox.style.display="none", bottomBox.style.opacity="1"') Measurement 1
            .option.three
                .menu-icon
                span Measurement 2
            .option.four
                .menu-icon
                span Measurement 3
    .outer-info-box
        .top-box
            button(id='menuButton' onclick='menuBox.style.display="inline-block", bottomBox.style.opacity="0.5"') &#9776;
        #bottomBox.bottom-box(style = 'overflow-y:auto')
            #overviewBox.overview-box
                .collapse-inner
                    .input-label Shoulder
                    .input-percent1 70%
                    .graph-box
                        img(src='../../img/graph.png' id='graph-symbol' onclick='iconOverview.style.display="none", iconGraph.style.display="inline-block", iconOverviewTrans.style.background="#BBB", iconGraphOneTrans.style.background="#2e3192", overviewBox.style.display="none", bodyBox.style.display="inline-block"')
                .exercise-set
                    span#exerciseTitle Exercise Set
                    .exercise-description-label
                        span#exerciseText STD Shoulder/Back
                .notes
                    span#noteTitle Notes
                    textarea.note-input(type='notes' id='notes' name='notes' cols="25" placeholder="Enter notes here...")
            #bodyBox.body-part-box
                .percentage-box
                    .percentage 50%
                    .recoveryText to full recovery
                .legend
                    .weekly-legend
                        .weekly-goal-legend Weekly Goal
                        .legend-circle
                    .final-goal-legend Final Goal
                        .dashes - - - - -
                .graph-view
                    .svgh#graph
                        script(src = 'http://d3js.org/d3.v3.min.js').

        .transition-box
            .icon#iconOverviewTrans
            .icon#iconGraphOneTrans
            .icon.button-2
            .icon.button-3