extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patient-status.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    script.
        var ChangeView = {
            box1: document.getElementsByClassName('overview-box')[0],
            box2: document.getElementsByClassName('body-part-box')[0],
            toggleView: function (e) {
                e.style.display = (e.style.display == 'none') ? 'inline-block' : 'none'
            }}

block content
    .patient-box
        .pic-box
            img(src='img/profile_pic.jpg' id='profileImg')
        .info-box
            .name Abdul
            .input-label Shoulder, Back
    #menuBox.menu-box
        .menu-top
            .menu-title
                span Jump to:
            .exit-sign
                button(id='exitButton' onclick='menuBox.style.display="none", bottomBox.style.opacity="1"') X
        .menu-options
            .option.one
                .menu-icon#iconOverview
                span(onclick='iconOverview.style.display="inline-block", iconGraph.style.display="none", iconOverviewTrans.style.background="#2e3192", iconGraphOneTrans.style.background="#BBB", overviewBox.style.display="inline-block", bodyBox.style.display="none"') Overview
            .option.two
                .menu-icon#iconGraph
                span(onclick='iconOverview.style.display="none", iconGraph.style.display="inline-block", iconOverviewTrans.style.background="#BBB", iconGraphOneTrans.style.background="#2e3192", overviewBox.style.display="none", bodyBox.style.display="inline-block"') Measurement 1
            .option.three
                .menu-icon
                span Measurement 2
            .option.four
                .menu-icon
                span Measurement 3
    .outer-info-box
        .top-box
            .header-left
                .image
                .header-left-text
                    span#title OVERVIEW
            .header-right
                button(id='menuButton' onclick='menuBox.style.display="inline-block", bottomBox.style.opacity="0.5"') Menu
        #bottomBox.bottom-box(style = 'overflow-y:auto')
            #overviewBox.overview-box
                .body-parts
                    .body-part-label
                        .text
                            span Shoulder...............
                            span#percentValue1  50%
                                style.
                                    #percentValue1 {
                                        color: orange
                                    }
                        #symbol
                            img(src='img/graph.png' id='graph-symbol' onclick=onclick='iconOverview.style.display="none", iconGraph.style.display="inline-block", iconOverviewTrans.style.background="#BBB", iconGraphOneTrans.style.background="#2e3192", overviewBox.style.display="none", bodyBox.style.display="inline-block"')
                        .text
                            span Neck - Side..............
                            span#percentValue2  70%
                                style.
                                    #percentValue2 {
                                        color: #74e586
                                    }
                        #symbol
                            img(src='img/graph.png' id='graph-symbol')
                    .body-part-label
                        .text
                            span Neck - Front..........
                            span#percentValue3  30%
                                style.
                                    #percentValue3 {
                                        color: #a50000
                                    }
                        #symbol
                            img(src='img/graph.png' id='graph-symbol')
                .exercise-set
                    span#exerciseTitle Exercise Set
                    .exercise-description-label
                        span#exerciseText STD Shoulder/Back
                .notes
                    span#noteTitle Notes
                    textarea.note-input(type='notes' id='notes' name='notes' cols="25" placeholder="Add notes.")
            #bodyBox.body-part-box
                .percentage-box
                    .span#percentage 50%
                .recovery-box
                    .span#recoveryText to full recovery
                .graph-box
                    .svgh#graph
                        script(src = 'http://d3js.org/d3.v3.min.js').

            .transition-box
                .icon#iconOverviewTrans
                .icon#iconGraphOneTrans
                .icon.button-2
                .icon.button-3