extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/pt-form.css')

block content

    form
        h1 Create your account.
        br
        .inputs
            .input-box.input-top
                .input-name Full Name
                input.text-input(type='full-name' name='fullName' placeholder='John Smith')
            .input-box
                .input-name Email
                input.text-input(type='email' name='email' placeholder='abc@xyz.com')
            .input-box
                .input-name
                    span Password
                    span.input-label 8 Characters Min
                input.text-input(type='password' name='password' placeholder='********')
            .input-box.input-bottom
                .input-name Confirm
                input.text-input(type='password' name='confirmPassword' placeholder='********')
    p#success
