extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function() {
            if (localStorage.token) window.location = '/patients';
        }

block header

block content
    #loginTitle Reset Password
    form#loginForm.form
        .inputs
            .input-box#pass1
                input.text-input(type='password' id='password' name='password' placeholder='********' onblur="checkPassword(this.value)")
                .input-name
                    span Password
                    span.input-label 8 Characters Min
            .input-box.input-bottom#pass2
                input.text-input(type='password' name='confirmPassword' placeholder='********' onblur="checkPasswordConfirm(this.value)")
                .input-name Confirm
    p#success
    p#js-error-message

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitLogin()') #{footerButton2}
    script.
            function checkPassword(str) {
                var errorDiv = document.getElementById('passwordError');
                var re = /[a-zA-Z0-9]{8}/;
                if ((!re.test(str)) && (str != "")) {
                    document.getElementById('pass1').className = 'input-box invalid';
                    errorDiv.innerHTML = "Password must have 8 valid characters";
                    errorDiv.style.height = "6%";
            }
            else if (str != 0) {
                document.getElementById('pass1').className = 'input-box valid';
                while (errorDiv.firstChild) {
                    errorDiv.removeChild(errorDiv.firstChild);
                }

            }}
            function checkPasswordConfirm(str) {
                var errorDiv = document.getElementById('passwordConfirmError');
                var re = /[a-zA-Z0-9]{8}/;
                if (((str != document.getElementById('password').value) || (!re.test(str))) && (str != "")) {
                    document.getElementById('pass1').className = 'input-box invalid';
                    document.getElementById('pass2').className = 'input-box input-bottom invalid';
                    errorDiv.style.height = "6%";
                }
                else if (str != "") {
                    document.getElementById('pass1').className = 'input-box valid';
                    document.getElementById('pass2').className = 'input-box input-bottom valid';
                    //errorDiv.style.innerHTML = ""
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }