extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/rom-form.css')

block content

    form
        h1 Range of Motion.
        br
        .inputs
            .input-box
                .input-name Neck Twist
                br
            .input-box
                .input-name Reps/Duration
                .num-box
                    button.num-button 30
                    button.num-button sec
                    .arith-box
                        button.num-button +
                        button.num-button -
            .input-box
                .input-name Sets
                .num-box
                    button.num-button 03
                    button.num-button +
                    button.num-button -
                br
            .input-box
                .input-name Media
                br
            a(href='MEDIA')
                button.media-button.media-button-box Upload Image/Video
            br
            .input-box
                .input-name Notes
            input.form-input(type='notes' name='notes' placeholder='Type any notes, special requirements, etc. on this exercise here...')

block nav1
    button.pt-button.button-1(type='button') Cancel
block nav2
    button.pt-button.button-2(type='button') Submit