doctype html
html
    head
        meta(name='viewport', content='width=device-width', initial-scale='1')
        title= title || "Body Sync"
        link(href='/img/favicon.png' rel='icon' type='image/png')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block cssSheets
        script(src='/js/fetch.js')

    body
        div#header
            block header
                div.profile-box
                    div#navbar
                        if type == 'patient'
                          a(href='/patient-home').navButton.active Home
                        else
                          a(href='/patients').navButton.active Home
                    div.profile-box-right
                        img(src='img/profile_pic.jpg' id='profileImg1')
                    div.profile-box-left
                        div#profileName
                        div.profile-buttons
                            a(href='#' onclick="logout()")
                                .profileAction#logOutButton Log Out
        div#space

        div#content
            block content

        block footer
            div#footer
                div#errorContainer
                    div#nameError.validationError
                    div#emailError.validationError
                    div#rangeMotionError.validationError
                    div#passwordError.validationError
                    div#passwordConfirmError.validationError
                    div#phoneError.validationError
                a.footerButton#buttonLeft(href=url) #{footerButton}
                block submitForm

        script(src='/js/script.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js')

        if token
            script localStorage.token = "#{token}"
        script.
            document.getElementById('profileName').innerHTML = localStorage.email
        block postScript
