doctype html
html
    head
        title= title || "Body Sync"
        link(rel='stylesheet', href='/stylesheets/style.css')
        block cssSheets
        script(src='/js/fetch.js')
    body
        div#header
            div.outerContainer
                div.innerContainerWide
                    span#profileName #{firstName}
                    a(href='#')
                        button.profileAction#settingsButton Settings
                    a(href='#')
                        button.profileAction#logOutButton Log Out
                div.innerContainerSmall
                    img(src='img/profile_pic.jpg' id='profileImg')

        div#navbar
            if userType === 'patient'
                a(href='#' class='navButton active') Exercises
                a(href='#' class='navButton') Overview
            else
                a(href='#' class='navButton active') Patients
                a(href='#' class='navButton') Exercise Sets

        div#content
            block content

        div#footer
            div#errorContainer
                div#nameError.validationError
                div#emailError.validationError
                div#passwordError.validationError
                div#passwordConfirmError.validationError
            button.footerButton#buttonLeft(type='button') #{footerButton}
            block submitForm
            if !footerButton2
                script.
                    document.getElementById('buttonLeft').style.width = "100%";
                    document.getElementById('buttonRight').style.display = "none";

        script(src='/js/bootstrap.js')
        script(src='/js/script.min.js')
        if token
            script localStorage.token = "#{token}"
        block postScript
        if dev
            script(src='//localhost:10000/livereload.js')