doctype html
html
    head
        meta(name='viewport', content='width=device-width', initial-scale='1')
        title= title || "Body Sync"
        link(rel='stylesheet', href='/stylesheets/style.css')
        block cssSheets
        script(src='/js/fetch.js')
    body
        div#header
            block header
                div.profile-box
                    div#navbar
                        a(href='/patients1').navButton.active | Home
                    div.profile-box-right
                        img(src='img/profile_pic.jpg' id='profileImg1')
                    div.profile-box-left
                        div#profileName #{firstName}
                        div.profile-buttons
                            a(href='#')
                                button.profileAction#settingsButton Settings
                            a(href='#' onclick="logout()")
                                button.profileAction#logOutButton Log Out

        div#content
            block content
        block footer
            div#footer
                div#errorContainer
                    div#nameError.validationError
                    div#emailError.validationError
                    div#passwordError.validationError
                    div#passwordConfirmError.validationError
                    div#phoneError.validationError
                button.footerButton#buttonLeft(type='button') #{footerButton}
                block submitForm
                //script.
                //    document.getElementById('buttonLeft').style.width = "100%";
                //    document.getElementById('buttonRight').style.display = "none";

        //- script(src='/js/bootstrap.js')
        script(src='/js/script.min.js')
        if token
            script localStorage.token = "#{token}"
        block postScript
        if dev
            script(src='//localhost:10000/livereload.js')