extends template
block cssSheets
    link(rel='stylesheet', href='/stylesheets/exercise-set.css')
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function() {
            loadEditExercise();
        }
block content
    form
        #loading
        h1 Patient Exercises


        .inputs#exercise-inputs
                .input-box
                    #patientExercise

    p#success
        script.
            function checkExerciseName(str) {
                var errorDiv = document.getElementById('addExerciseError');
                if (str == "") {
                    errorDiv.innerHTML = "Missing Exercise Name";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }
            function checkExerciseNum(str) {
                var errorDiv = document.getElementById('addExerciseError');
                var num = parseInt(str)
                if (num < 0 || isNaN(num)) {
                    errorDiv.innerHTML = "Invalid Number";
                    errorDiv.style.height = "6%";
                }
                else {
                    while (errorDiv.firstChild) {
                        errorDiv.removeChild(errorDiv.firstChild);
                    }
                }
            }

block submitForm
    button.footerButton#buttonRight(type='button' onclick='confirmSubmit(\'submitEditExercise\')') #{footerButton2}
