extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    link(rel='stylesheet', href='/stylesheets/rom-form.css')
    script.
        window.onload = function() {
            loadExerciseStart();
        }

block content
    form
        #exercisesTitle Patient Exercises
        #exercisepg
        #loading
            p Loading
            img(src='../../img/loading.gif')
    #painInput.modal
        h3 On a scale of 1 (least) - 10 (most), how uncomfortable was that exercise?
        br
        input#painNum(name='painBar',type='range',min='1',max='10' onchange='show_value(this.value);')
        br
        br
        h3#slider_value Value: 5
        br
        button(style='background: red; width: 50%' ,onclick='cancel(this)') Cancel
        button(style='width: 50%', onclick='submitPain(this)') Submit
    script.
        var selectedExercise
        function painInput(ele){
            document.getElementById('painInput').style.display = 'block'
            document.getElementById('painNum').value = 5;
            selectedExercise = ele
        }
        function submitPain(ele){
            document.getElementById('painInput').style.display = 'none'
            selectedExercise.style.filter = 'grayscale(0%)'
            selectedExercise = null
            submitExerciseCompletion(localStorage.exId);
        }
        function cancel(ele){
            document.getElementById('painInput').style.display = 'none'
        }
        function updateTextInput(val) {
          document.getElementById('painVal').value=val;
        }
        function show_value(x) {
            innerCode = 'Value: ' + x;
            document.getElementById("slider_value").innerHTML = innerCode;
        }


block footer
