extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function() {
            var url = (localStorage.isPatient == 'true') ? '/patients/' : '/pts/';
            fetch(url + localStorage.id + '/isVerified/?token=' + localStorage.token, {
                method: 'GET'
            }).then(function (res) {
                if (!res.ok) return submitError(res);
                res.json().then(function(data) {
                    if (!data.isVerified) {
                        document.getElementById('loading').style.display = 'none';
                        document.getElementById('legal-modal').style.display = 'block';
                    } else {
                        loadStart();
                    }
                })
            }).catch(submitError);
        }

block content
    form
        .search-bar
            img(src='../../img/search-icon.png' id='searchIcon')
            input(type="search" name="patientSearch" id="patientSearch" placeholder="Search for patients"
                onkeypress="if (event.keyCode == 13) { event.preventDefault(); pSearch() } else { }")
            img(src='../../img/alphaOrder.png' id='alphaOrder' onclick="sortAlpha()")
            img(src='../../img/health.png' id='health' onclick="sortProg()")
        #loading
            p Loading
            img(src='../../img/loading.gif')
        #patients

        .plus-button
            a(href='/create-patient').add +
        .space

    div#legal-modal.modal(style="display: none")
        h3 You must agree to the terms and conditions to use Prompt Therapy Solutions.
        br
        br
        button.buttonTab(id="agree-btn" onclick='agree()') I Agree
        button.buttonTab(id="disagree-btn" onclick='logout()') I Do Not Agree