extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/patients.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script.
        window.onload = function () { loadPatientStart(); }

block content
    form
        p.headerGrey Welcome back!
        #patients
        #loading
            p Loading
            img(src='../../img/loading.gif')

        div.container-center
            a.buttonTab(onclick="window.location='/exercises'") Access Workouts
        p.headerGrey.patientMain You're on the road to recovery! Keep up the good work.

    div#accept-modal.modal(style="display: none")
        h3 You must agree to the terms and conditions to use Prompt Therapy Solutions.
        br
        br
        button.buttonTab(id="agree-btn" onclick='agree()') I Agree
        button.buttonTab(id="disagree-btn" onclick='logout()') I Do Not Agree

block footer
