extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/create-patient.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

block header

block cssSheets
    link(rel='stylesheet', href='/stylesheets/create-patient.css')


block content
    h1(style="text-align:center" id="loginTitle") Create Password
    form#loginForm.form
        .inputs
            .input-box#resetpass1
                input.text-input(type='password' id='resetPassword' name='resetPassword' placeholder='********' onblur="checkResetPassword(this.value)")
                .input-name
                    span Password
                    span.input-label 8 Characters Min
            .input-box.input-bottom#resetpass2
                input.text-input(type='password' name='resetConfirmPassword' placeholder='********' onblur="checkResetPasswordConfirm(this.value)")
                .input-name Confirm
    p#success
    p#js-error-message

block submitForm
    button.footerButton#buttonRight(type='button' onclick='submitReset()') #{footerButton2}
    script.
        function checkResetPassword(str) {
            var errorDiv = document.getElementById('passwordError');
            var re = /[a-zA-Z0-9]{8}/;
            if ((!re.test(str)) && (str != "")) {
                document.getElementById('resetpass1').className = 'input-box invalid';
                errorDiv.innerHTML = "Password must have 8 valid characters";
                errorDiv.style.height = "6%";
        }
        else if (str != 0) {
            document.getElementById('resetpass1').className = 'input-box valid';
            while (errorDiv.firstChild) {
                errorDiv.removeChild(errorDiv.firstChild);
            }

        }}

        function checkResetPasswordConfirm(str) {
            var errorDiv = document.getElementById('passwordConfirmError');
            var re = /[a-zA-Z0-9]{8}/;
            if (((str != document.getElementById('resetPassword').value) || (!re.test(str))) && (str != "")) {
                document.getElementById('resetpass1').className = 'input-box invalid';
                document.getElementById('resetpass2').className = 'input-box input-bottom invalid';
                errorDiv.style.height = "6%";
            }
            else if (str != "") {
                document.getElementById('resetpass1').className = 'input-box valid';
                document.getElementById('resetpass2').className = 'input-box input-bottom valid';
                //errorDiv.style.innerHTML = ""
                while (errorDiv.firstChild) {
                    errorDiv.removeChild(errorDiv.firstChild);
                }
            }
            else {
                while (errorDiv.firstChild) {
                    errorDiv.removeChild(errorDiv.firstChild);
                }
            }
        }

        function submitReset() {
            var data = {
                isPt: #{isPt},
                newPassword: document.forms[0].resetPassword.value
            };
            fetch('/reset/' + '#{token}', {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(function (res) {
                if (!res.ok) return submitError(res);
                localStorage.token = '';
                window.location = '/login';
            }).catch(console.log('error'));
        }