doctype html
html
    head
        meta(name='viewport', content='width=device-width', initial-scale='1')
        title= title || "Prompt Therapy Solutions"
        link(href='/img/favicon.png' rel='icon' type='image/png')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block cssSheets
        script(src='/js/fetch.js')

    body
        div#header
            block header
                div.profile-box
                    div#navbar
                        if type == 'patient'
                            a(href='/patient-home').navButton.active
                                img(src="img/promptLogo.png" class="promptLogo")
                        else if type == 'admin'
                            a(href='/admin').navButton.active
                                img(src="img/promptLogo.png" class="promptLogo")
                        else
                            a(href='/patients').navButton.active
                                img(src="img/promptLogo.png" class="promptLogo")
                    div.profile-box-right
                        img(src='img/profile_pic.jpg' id='profileImg1')
                    div.profile-box-left
                        div#profileName
                        div.profile-buttons
                            a(href='#' onclick="logout()")
                                .profileAction#logOutButton Log Out
        div#space

        div#content
            block content
            #js-error-message(style="display:none")

        div#token-modal.modal(style="display:none")
            h3 Expired Token: Enter password in 30 seconds to prevent logout.
            br
            br
            form#tokenForm(onsubmit="return false")
                input(type='password' name='tokenHash' placeholder='********' maxlength='24')
            button.buttonTab(id="token-btn" onclick='submitToken()') Continue Session
            #error-label

        div#confirm-modal.modal

        block footer
            if type != 'patient'
                div#footer
                    div#errorContainer
                        div#nameError.validationError
                        div#emailError.validationError
                        div#rangeMotionError.validationError
                        div#addExerciseError.validationError
                        div#passwordError.validationError
                        div#passwordConfirmError.validationError
                        div#phoneError.validationError
                    a.footerButton#buttonLeft(href=url) #{footerButton}
                    block submitForm

        script(src='/js/script.min.js')

        if token
            script localStorage.token = "#{token}"

        script.
            document.getElementById('profileName').innerHTML = localStorage.email
        script.
            if (window.location.pathname != '/login' && window.location.pathname != '/') tokenVerification();

        block postScript
